<!DOCTYPE html>
<html ng-app="Portfolio" lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <meta charset="UTF-8">
  <title>Wen Jen</title>
  <!-- css -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link rel="stylesheet" href="./assets/css/main.css">
  <!-- jQuery  -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
  <script src="https://code.angularjs.org/1.5.7/angular-animate.min.js"></script>

   <!-- materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <!-- font awesome -->
  <script src="https://use.fontawesome.com/9f0532179b.js"></script>
</head>

<body ng-controller="MainController">

<script src='./app/js/init.js'>
</script>

<script>
function parallaxs(){
  var two = document.getElementById('two');
  var three = document.getElementById('three');
  two.style.top = -(window.pageYOffset / .6)+'px';
}
window.addEventListener("scroll", parallaxs, false);
</script>

<div class="navbar-fixed nav">
  <nav class="" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><span id='logo'>WJ</span></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#" scroll-to="portfolio" duration="1000" offset="72">Portfolio</a></li>
        <li><a ng-click="gotoAbout()">About</a></li>
        <li><a ng-click="gotoContact()">Contact</a></li>
        <li><a href="./assets/images/Wenjen-TechResume.pdf">Resume</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><button href="#" scroll-to="portfolio">Portfolio</button></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Resume</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot" id="splash">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2 papy">Wen Jen</h1>
        <div class="row center">
          <h6 class="header col s12 light papy" >Web Developer</h6>
        </div>
        <div class="row center">
          <a href="#" scroll-to="portfolio" duration="5000" offset="72" class="btn-large waves-effect waves-light teal lighten-2">Start Exploring</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax one"><img src="./assets/images/fb2.jpg" alt="Unsplashed background img 1"></div>
    <div class="parallax two " id="two"><img src="./assets/images/n2.png" alt="Unsplashed background img 1"></div>
  </div>

<div class="container" id="portfolio">
    <div class="section">
      <h6 class="center black-text papy">Portfolio</h6><hr>
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m3 m3-offset-1">
        <br/>
          <div class="icon-block">
            <a ui-sref="homePage"><img class="icon-img" src="./assets/images/casegalaxyss.png" alt="casegalaxy"></a>
            <h6 class="center teal-text">Case Galaxy</h6>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
          <br/>
            <a ui-sref="wanderPage"><img class="icon-img" src="./assets/images/wander.png" alt="casegalaxy"></a>
            <h6 class="center teal-text">Wander</h6>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
          <br/>
            <a ui-sref="instaTweetPage"><img class="icon-img" src="./assets/images/instatweetss.png" alt="casegalaxy"></a>
            <h6 class="center teal-text">InstaTweet</h6>
          </div>
        </div>


        <div class="col s12 m3">
          <div class="icon-block">
          <br/>
            <a ui-sref="blackjackPage"><img class="icon-img" src="./assets/images/bjss.png" alt="casegalaxy"></a>
            <h6 class="center teal-text">BlackJack</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ui view  -->
  <div class="section wood">
    <main ui-view>
    </main>
  </div>

    <div class="section no-pad-bot" id="about">
      <div class="container">
        <div class="row" >
          <div class="col s12 m3 offset-m1">
            <img id="profile-pic" src="./assets/images/WDI_10_Half-7.jpg" alt="bio-pic">
          </div>
          <div class="col s12 m6 offset-m1">
            <h3>Hi, I'm Wen! </h3>
            <p>I am a Web Developer with a strong foundation in Javascript, Ruby on Rails and the MEAN Stack.
            <p class="light"> When I am not coding, some of my other passions and interests include traveling, movies and tv/shows, sports, anime, and staying active.
          </div>
        </div>
      </div>
    </div>



  <footer class="page-footer" id="contact">
    <div class="container">
      <div class="row">
        <div class="col m12 s12 center">
          <h5 class="white-text">Let's Connect</h5>
        </div>
        <div class="col s12 m12 center">
          <ul>
            <li id="icon-link" class="center">
              <a class="" href="https://www.linkedin.com/in/wen-jen" target="_blank"><i class="fa-3x fa fa-linkedin-square white-text"></i></a>
              <a class="" href="https://github.com/wjen" target="_blank"><i class="fa-3x fa fa-github-square white-text"></i></a>
              <a class="white-text icon-link"  href="mailto:wjen1214@gmail.com" target="_blank"><i class="fa-3x fa fa-envelope-o"></i></a>
            </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright center">
      <div class="container">
      © Wen Jen | 2016
      </div>
    </div>
  </footer>


  <script src="./app/js/app.js"></script>
  <script src="./app/js/app.routes.js"></script>
  <script src="./app/controllers/main_controller.js"></script>
  <script src="./bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>


</body>

</html>
