
  <div class="row main-row">
    <div class="col s12 m4 offset-m2">
        <img class="project-photos" src="../assets/images/casegalaxyss.png" alt="projects">
    </div>
      <div class="col s12 m4">
      <h3 class="white-text">Case Galaxy</h3>
      <h6 class="white-text"> Developed using MEAN Stack, BootStrap, Gulp, JSON Webtokens </h6>
      <p class="white-text light">Final Project at General Assembly. Case Galaxy is an e-commerce website that allows users to make purchases, CRUD items and login through JSON web tokens</p>
    </div>
  </div>
