  <div class="row main-row">
    <div class="col s12 m4 offset-m2">
        <a target="_blank" href="http://wjen.github.io/blackjack">
          <img class="project-photos" src="../assets/images/bjss.png" alt="projects">
        </a>
    </div>
      <div class="col s12 m4">
      <a target="_blank" href="http://wjen.github.io/blackjack"><h3 class="white-text">Blackjack</h3></a>
      <h6 class="white-text"> Developed using Javascript, jQuery, HTML, CSS, Underscore.js</h6>
      <p class="white-text light">First project at General Assembly.  Blackjack allows users to have a bankroll with control over wager as well as playing features that include hit, double down and stay. </p>
    </div>
  </div>
