  <div class="row main-row">
    <div class="col s12 m4 offset-m2">
        <a target="_blank" href="https://dry-lowlands-22164.herokuapp.com/">
          <img class="project-photos" src="./assets/images/instatweetss.png" alt="projects">
        </a>
    </div>
      <div class="col s12 m4">
      <a target="_blank" href="https://dry-lowlands-22164.herokuapp.com/"><h3 class="white-text">InstaTweet</h3></a>
      <h6 class="white-text"> Developed using Ruby on Rails, BootStrap, jQuery</h6>
      <p class="white-text light"> Second Project at General Assembly. Instatweet is a message board built with Ruby on Rails that allows admins/users to sign in and CRUD messages/users and upload files</p>
    </div>
  </div>
