  <div class="row main-row">
    <div class="col s12 m4 offset-m2">
        <a target="_blank" href="http://frozen-meadow-17947.herokuapp.com/"><img class="project-photos" src="./assets/images/wander.png" alt="projects"></a>
    </div>
      <div class="col s12 m4">
      <a target="_blank" href="http://frozen-meadow-17947.herokuapp.com/"><h3 class="black-text papy">Wander</h3></a>
      <h6 class="white-text"> Developed using MEN Stack, BootStrap, Flickr Oath, GoogleMaps API </h6>
      <p class="white-text light">Third Project at General Assembly. Wander allows you to plot points based off of your Flickr Album photos geolocation so that you can chronologically see where you took your photos </p>
    </div>
  </div>
